@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*------------------------------------------- BASE */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #232323;
  color: white;
  font-family: "Inter", sans-serif;
}

.orange {
  color: #f87f28;
}

.line {
  background: #f87f28;
  width: 5rem;
  height: 0.1rem;
  margin: 1rem 0 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  line-height: 1.75;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
  color: white;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  line-height: 1.75;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
  color: white;
  overflow: visible;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.display-none {
  display: none;
}

.center {
  width: 85vw;
  margin: 0 auto;
}

.section-padding {
  padding: 2rem 0;
}

.section-title {
  line-height: 1;
  font-size: 2rem;
  font-weight: 600;
}

/* ---------- NAV ---------- */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(36, 36, 36, 0.9);
}

.nav ul {
  width: 85vw;
  margin: 0 auto;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h1 {
  font-size: 1.75rem;
  font-weight: 700;
}

.nav i {
  font-size: 1.25rem;
}

.circle-icon {
  background: #f87f28;
  border-radius: 50%;
  vertical-align: middle;
  padding: 1rem;
}

/* ---------- NAV DESKTOP ---------- */

.nav-desktop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(36, 36, 36, 0.9);
}

.nav-desktop ul {
  width: 90vw;
  margin: 0 auto;
  height: 5rem;
  display: flex;
  align-items: center;
}

.nav-desktop ul li {
  display: flex;
  padding: 0 1rem;
  align-items: center;
}
.nav-desktop ul li:nth-of-type(1) {
  padding: 0 1rem 0 0;
}

.nav-desktop ul li:last-of-type {
  margin-left: auto;
}

.nav-desktop h1 {
  font-size: 1.75rem;
  font-weight: 700;
}

.nav-desktop img {
  padding: 0 0.5rem;
}

.nav-desktop i {
  font-size: 1.25rem;
}

/* ---------- HERO ---------- */

.hero-section {
  background: url(../images/hero_bg.jpeg);
  background-size: cover;
  background-position: top 0 right -275px;
  background-repeat: no-repeat;
  padding-top: 7.5rem;
  display: grid;
  justify-items: center;
  align-items: center;
}

.hero-article {
  width: 85vw;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 4rem;
  row-gap: 2rem;
  justify-items: center;
  align-items: center;
}

.hero-infos h2 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.25;
}

.hero-name {
  font-size: 4rem;
  font-weight: 700;
  color: #f87f28;
}

.hero-infos h3 {
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.hero-infos h4 {
  font-size: 0.85rem;
  margin-top: 1rem;
}

.btn-container {
  margin-top: 2rem;
  display: flex;
}

.hero-infos button {
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
}

.hero-infos button:nth-of-type(1) {
  margin-right: 1rem;
}

.hero-infos button:nth-of-type(1) {
  background: #bb2323;
}

.hero-infos button:nth-of-type(2) {
  color: #f87f28;
  border: 2px solid #f87f28;
}

.hero-img {
  background: url(../images/person.jpeg);
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: none;
}

.btn-container button:nth-of-type(1) {
  margin-right: 1rem;
}

/* ---------- CLIENTS ---------- */

.client-article {
  margin-top: 4rem;
}

.client-article ul {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
}
.client-article h2 {
  color: #bfbfbf;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.client-article ul li img {
  width: 100%;
}

/* ---------- COMPETENCES ---------- */

.competences-section {
  background: url(../images/competences_bg.jpeg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.competences-article h2 {
  text-align: left;
}

.competences-article h3 {
  text-align: left;
}

.competences-article ul {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 4rem;
  row-gap: 2rem;
}

.competences-article ul li h4 {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  font-weight: 500;
}

.competences-article ul li h5 {
  margin-top: 1rem;
  font-weight: 500;
  color: #767e90;
}

/* ---------- PORTFOLIO ---------- */

.portfolio-section {
  background: url(../images/portfolio_bg.jpeg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.portfolio-section .center {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 4rem;
  row-gap: 2rem;
}

.portfolio-article-content ul {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";
}

.portfolio-article-content ul li img {
  width: 100%;
  height: 14rem;
  object-position: center;
  object-fit: cover;
  border-radius: 15px;
}

.portfolio-article-content ul li:nth-of-type(1) {
  grid-area: a;
}
.portfolio-article-content ul li:nth-of-type(1) img {
  height: 10rem;
}
.portfolio-article-content ul li:nth-of-type(2) {
  grid-area: b;
}
.portfolio-article-content ul li:nth-of-type(3) {
  grid-area: c;
}
.portfolio-article-content ul li:nth-of-type(4) {
  grid-area: d;
}
.portfolio-article-content ul li:nth-of-type(5) {
  grid-area: e;
}
.portfolio-article-content ul li:nth-of-type(6) {
  grid-area: f;
}

/* ---------- EXPERIENCE ---------- */

.experience-section .center {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 4rem;
  row-gap: 2rem;
}

.experience-article-content ul {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
}
.experience-article-content li {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 1rem 2rem;
  column-gap: 1rem;
  row-gap: 2rem;
}

.experience-item {
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 1rem;
  row-gap: 1.5rem;
}

.experience-item div h4 {
  font-size: 0.65rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.experience-item div h5 {
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 600;
}

.experience-article-content li p {
  font-size: 0.7rem;
  display: none;
}

.experience-section button {
  margin-top: 2rem;
  padding: 0.75rem 2rem;
  border-radius: 25px;
  background: #bb2323;
}

/* ---------- COMPETENCES2 ---------- */

.competences2-section {
  display: none;
}

.competences2-section .center {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1fr;
  column-gap: 4rem;
  row-gap: 2rem;
}

.competences2-article {
  grid-row: 1;
}
.competences2-article-content {
  grid-row: 2;
}

.competences2-article-content ul {
  display: flex;
  flex-wrap: wrap;
}
.competences2-article-content ul div {
  display: flex;
  align-items: center;
}

.competences2-article-content ul li {
  margin: 0 1rem 1.5rem 0;
  display: flex;
  background: #333333;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.competences2-article-content ul li img {
  margin-right: 1rem;
}

.competences2-article-content ul li h4 {
  font-size: 0.7rem;
  font-weight: 500;
}
.competences2-article-content ul li h5 {
  text-align: center;
  width: 3.5rem;
  padding: 0.2rem 0;
  border-radius: 25px;
  background: #f87f28;
  font-size: 0.7rem;
  font-weight: 700;
  color: #232323;
}

.competences2-article-content ul li:nth-of-type(1) {
  width: 15rem;
}
.competences2-article-content ul li:nth-of-type(2) {
  width: 20rem;
}
.competences2-article-content ul li:nth-of-type(3) {
  width: 12rem;
}
.competences2-article-content ul li:nth-of-type(4) {
  width: 16rem;
}
.competences2-article-content ul li:nth-of-type(5) {
  width: 18rem;
}
.competences2-article-content ul li:nth-of-type(6) {
  width: 14rem;
}
.competences2-article-content ul li:nth-of-type(7) {
  width: 36rem;
}

/* ---------- REVIEW ---------- */

.review-section {
  background: url(../images/review_bg.jpeg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.review-article {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  justify-items: flex-start;
  align-items: flex-end;
}
.review-article p {
  font-size: 1rem;
  font-style: italic;
  line-height: 2;
}

.review-article h3 {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
}

.review-article h4 {
  margin-top: 0.75rem;
}

.review-img {
  display: none;
  height: 7rem;
}

.review-article .line {
  display: none;
}

/* ---------- NEWS ---------- */

.news-section {
  background: url(../images/news_bg.jpeg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.news-section .center {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 4rem;
}

.news-article-content ul {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.5rem;
}

.news-article-content h3 {
  font-size: 0.8rem;
  font-weight: 500;
  color: #f87f28;
}

.news-article-content h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.news-article-content p {
  margin-top: 1.5rem;
}

/* ---------- CONTACT ---------- */

.contact-section {
  background: url(../images/contact_bg.jpeg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.contact-section .center {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 4rem;
  row-gap: 2rem;
}

.contact-article ul {
  margin-top: 2rem;
  display: grid;
  row-gap: 2rem;
}

.contact-item {
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 1rem;
  row-gap: 1.5rem;
}

.contact-item div h3 {
  font-size: 0.7rem;
  font-weight: 500;
  color: #f87f28;
}

.contact-item div h4 {
  font-size: 0.9rem;
  margin-top: 1rem;
  font-weight: 500;
}

.contact-article-content h2 {
  display: none;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-article-content h3 {
  color: #bfbfbf;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 1rem;
}

.contact-article-content h4 {
  margin-top: 1rem;
}

.contact-article-content form ul {
  margin-top: 3rem;
  display: grid;
  grid-template-areas:
    "nom"
    "email"
    "message";
  column-gap: 2rem;
  row-gap: 2rem;
}

.contact-article-content form ul li {
  position: relative;
}
.contact-article-content form ul li:nth-of-type(1) {
  grid-area: nom;
}
.contact-article-content form ul li:nth-of-type(2) {
  grid-area: email;
}
.contact-article-content form ul li:nth-of-type(3) {
  grid-area: message;
}

.contact-article-content form label {
  font-size: 0.8rem;
  color: #767e90;
  position: absolute;
  top: -0.5rem;
  left: 1rem;
  padding: 0 0.5rem;
  background: #232323;
}

.contact-article-content form input {
  width: 100%;
  color: white;
  padding: 1rem;
  background: #232323;
  border: 2px solid #333333;
}

.contact-article-content form textarea {
  width: 100%;
  height: 7.5rem;
  padding: 0.5rem 1rem;
  background: #232323;
  border: 2px solid #333333;
}

.contact-article-content form button {
  margin-top: 2rem;
  padding: 0.75rem 3rem;
  border-radius: 25px;
  background: #bb2323;
}

@media screen and (min-width: 425px) {
  /* ---------- CLIENT ---------- */

  .client-article ul {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* ---------- COMPETENCES ---------- */

  .competences-article ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  /* ---------- BASE ---------- */

  .section-padding {
    padding: 10rem 0;
  }

  /* ---------- NAV ---------- */

  .nav {
    display: none;
  }

  /* ---------- NAV DESKTOP ---------- */

  .nav-desktop {
    display: block;
  }

  /* ---------- HERO ---------- */

  .hero-section {
    background-position: top;
  }

  .hero-article {
    grid-template-columns: 1fr 1fr;
  }

  .hero-img {
    display: block;
  }

  .hero-infos h4 {
    width: 75%;
  }

  .btn-container {
    margin-top: 4rem;
  }

  /* ---------- CLIENT ---------- */

  .client-article {
    margin-top: 10rem;
  }

  .client-article ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .client-article h2 {
    text-align: center;
  }

  /* ---------- COMPETENCES ---------- */

  .competences-article h2 {
    text-align: center;
  }

  .competences-article .line {
    margin: 1rem auto 2rem;
  }

  .competences-article h3 {
    text-align: center;
  }

  .competences-article ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* ---------- PORTFOLIO ---------- */

  .portfolio-section .center {
    grid-template-columns: 1fr 2fr;
  }

  .portfolio-article-content ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "a a a a b b"
      "c c d d d d"
      "e e e f f f";
  }

  .portfolio-article-content ul li:nth-of-type(1) img {
    height: 14rem;
  }

  /* ---------- EXPERIENCE ---------- */

  .experience-section .center {
    grid-template-columns: 1fr 2fr;
  }

  .experience-section .section-title {
    margin-top: 3rem;
  }

  .experience-article-content li {
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #333333;
  }

  .experience-article-content li p {
    display: block;
  }

  /* ---------- COMPETENCES2 ---------- */

  .competences2-section {
    display: block;
  }

  /* ---------- REVIEW ---------- */

  .review-section h2 {
    text-align: center;
  }

  .review-section .section-title + .line {
    margin: 1rem auto 2rem;
  }

  .review-article {
    width: 80%;
    grid-template-columns: 1fr 5fr;
    align-items: flex-start;
  }

  .review-img {
    display: block;
  }

  .review-article h3 {
    margin-top: 0rem;
  }

  .review-article .line {
    display: block;
  }

  /* ---------- NEWS ---------- */

  .news-section .center {
    grid-template-columns: 1fr 5fr;
  }

  /* ---------- CONTACT ---------- */

  .contact-section .center {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact-section .section-title {
    margin-top: 3rem;
  }

  .contact-article-content form ul {
    grid-template-areas:
      "nom email"
      "message message";
  }

  .contact-article-content h2 {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  /* ---------- BASE ---------- */

  .center {
    width: 60vw;
    margin: 0 auto;
  }

  /* ---------- HERO ---------- */

  .hero-section {
    justify-items: flex-end;
  }

  .hero-infos h2 {
    font-size: 4rem;
  }

  .hero-name {
    font-size: 5rem;
  }

  /* ---------- CONTACT ---------- */

  .contact-item div h4 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1440px) {
  /* ---------- COMPETENCES2 ---------- */

  .competences2-section .center {
    grid-template-columns: 2fr 1fr;
  }

  .competences2-article-content {
    grid-row: 1;
  }
}
